.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #27272D;
}
 
.home-image {
  width: 471px;
  height: 331px;
  align-self: center;
  object-fit: cover;
}
 
.home-thq-hero-elm {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-layout-space-fourunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
}
 
.home-thq-heading-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-header-elm {
  color: rgb(255, 255, 255);
  font-size: 48px;
  max-width: 900px;
  font-style: italic;
  text-align: center;
  font-weight: 900;
  line-height: 108px;
  text-transform: capitalize;
}
 
.home-container3 {
  display: contents;
}
 
.home-link {
  display: contents;
}
 
.home-container4 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 767px) {
  .home-thq-hero-elm {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-thq-heading-elm {
    gap: var(--dl-layout-space-unit);
  }
  .home-thq-header-elm {
    font-size: 36px;
    max-width: 70%;
    line-height: 43px;
  }
}
